*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #604D53;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    font-size: 8vmin;
    color: #DB7F8E;
}
#resetbtn{
    height: 7vmin;
    width: 20vmin;
    border: none;
    font-size:2.5vmin;
    color:black;
    padding: 1rem;
    margin: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
}
#new-btn{
    height: 7vmin;
    width: 20vmin;
    border: none;
    font-size:2.5vmin;
    color:black;
    padding: 1rem;
    margin: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;

}
#msg{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 600;
}
.msg-container{
    margin: 2vmin;
}
.hide{
    display: none;
}